TriquiClient/xml-resources/web-service-references/TriquiWebService/wsdl/localhost_8080/TriquiServer/TriquiWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="TriquiWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/TriquiServer/TriquiWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/TriquiServer/TriquiWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="play">
<part name="parameters" element="tns:play"/>
</message>
<message name="playResponse">
<part name="parameters" element="tns:playResponse"/>
</message>
<message name="getPlayerInTurn">
<part name="parameters" element="tns:getPlayerInTurn"/>
</message>
<message name="getPlayerInTurnResponse">
<part name="parameters" element="tns:getPlayerInTurnResponse"/>
</message>
<message name="getRoomParticipants">
<part name="parameters" element="tns:getRoomParticipants"/>
</message>
<message name="getRoomParticipantsResponse">
<part name="parameters" element="tns:getRoomParticipantsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="createRoom">
<part name="parameters" element="tns:createRoom"/>
</message>
<message name="createRoomResponse">
<part name="parameters" element="tns:createRoomResponse"/>
</message>
<message name="joinRoom">
<part name="parameters" element="tns:joinRoom"/>
</message>
<message name="joinRoomResponse">
<part name="parameters" element="tns:joinRoomResponse"/>
</message>
<message name="leaveRoom">
<part name="parameters" element="tns:leaveRoom"/>
</message>
<message name="leaveRoomResponse">
<part name="parameters" element="tns:leaveRoomResponse"/>
</message>
<message name="getPlayers">
<part name="parameters" element="tns:getPlayers"/>
</message>
<message name="getPlayersResponse">
<part name="parameters" element="tns:getPlayersResponse"/>
</message>
<message name="getRooms">
<part name="parameters" element="tns:getRooms"/>
</message>
<message name="getRoomsResponse">
<part name="parameters" element="tns:getRoomsResponse"/>
</message>
<message name="getGameBoard">
<part name="parameters" element="tns:getGameBoard"/>
</message>
<message name="getGameBoardResponse">
<part name="parameters" element="tns:getGameBoardResponse"/>
</message>
<message name="playAgain">
<part name="parameters" element="tns:playAgain"/>
</message>
<message name="playAgainResponse">
<part name="parameters" element="tns:playAgainResponse"/>
</message>
<portType name="TriquiWebService">
<operation name="login">
<input wsam:Action="http://webservices/TriquiWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservices/TriquiWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://webservices/TriquiWebService/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://webservices/TriquiWebService/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="play">
<input wsam:Action="http://webservices/TriquiWebService/playRequest" message="tns:play"/>
<output wsam:Action="http://webservices/TriquiWebService/playResponse" message="tns:playResponse"/>
</operation>
<operation name="getPlayerInTurn">
<input wsam:Action="http://webservices/TriquiWebService/getPlayerInTurnRequest" message="tns:getPlayerInTurn"/>
<output wsam:Action="http://webservices/TriquiWebService/getPlayerInTurnResponse" message="tns:getPlayerInTurnResponse"/>
</operation>
<operation name="getRoomParticipants">
<input wsam:Action="http://webservices/TriquiWebService/getRoomParticipantsRequest" message="tns:getRoomParticipants"/>
<output wsam:Action="http://webservices/TriquiWebService/getRoomParticipantsResponse" message="tns:getRoomParticipantsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/TriquiWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/TriquiWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="createRoom">
<input wsam:Action="http://webservices/TriquiWebService/createRoomRequest" message="tns:createRoom"/>
<output wsam:Action="http://webservices/TriquiWebService/createRoomResponse" message="tns:createRoomResponse"/>
</operation>
<operation name="joinRoom">
<input wsam:Action="http://webservices/TriquiWebService/joinRoomRequest" message="tns:joinRoom"/>
<output wsam:Action="http://webservices/TriquiWebService/joinRoomResponse" message="tns:joinRoomResponse"/>
</operation>
<operation name="leaveRoom">
<input wsam:Action="http://webservices/TriquiWebService/leaveRoomRequest" message="tns:leaveRoom"/>
<output wsam:Action="http://webservices/TriquiWebService/leaveRoomResponse" message="tns:leaveRoomResponse"/>
</operation>
<operation name="getPlayers">
<input wsam:Action="http://webservices/TriquiWebService/getPlayersRequest" message="tns:getPlayers"/>
<output wsam:Action="http://webservices/TriquiWebService/getPlayersResponse" message="tns:getPlayersResponse"/>
</operation>
<operation name="getRooms">
<input wsam:Action="http://webservices/TriquiWebService/getRoomsRequest" message="tns:getRooms"/>
<output wsam:Action="http://webservices/TriquiWebService/getRoomsResponse" message="tns:getRoomsResponse"/>
</operation>
<operation name="getGameBoard">
<input wsam:Action="http://webservices/TriquiWebService/getGameBoardRequest" message="tns:getGameBoard"/>
<output wsam:Action="http://webservices/TriquiWebService/getGameBoardResponse" message="tns:getGameBoardResponse"/>
</operation>
<operation name="playAgain">
<input wsam:Action="http://webservices/TriquiWebService/playAgainRequest" message="tns:playAgain"/>
<output wsam:Action="http://webservices/TriquiWebService/playAgainResponse" message="tns:playAgainResponse"/>
</operation>
</portType>
<binding name="TriquiWebServicePortBinding" type="tns:TriquiWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="play">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayerInTurn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomParticipants">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="joinRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leaveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameBoard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="playAgain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TriquiWebService">
<port name="TriquiWebServicePort" binding="tns:TriquiWebServicePortBinding">
<soap:address location="http://localhost:8080/TriquiServer/TriquiWebService"/>
</port>
</service>
</definitions>